* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product-container {
  position: relative;
  width: 825px;
  margin: 2.5rem auto;
  border-style: solid;
  border-width: 5px;
  border-color: #333333;
}

.product-title,
.shipping,
.product-details-title,
.btn-cart {
  text-transform: uppercase;
}

.shipping {
  color: rgb(119, 119, 119);
  font-weight: bold;
  font-size: 0.9rem;
}

.product-title {
  background-color: #f4f4f4;
  text-align: center;
  padding: 1rem 0;
}

.sale-tag {
  position: absolute;
  top: -15px;
  left: -30px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  color: #f4f4f4;
  background-color: rgb(219, 23, 23);
  letter-spacing: 0.125rem;
}

.product-price {
  font-size: 1.8rem;
  margin-bottom: 0;
}

.more-info-link {
  margin-top: 10px;
  margin-bottom: 20px;
}

.more-info-link a:link,
.more-info-link a:visited {
  color: black;
}

.more-info-link a:hover,
.more-info-link a:active {
  text-decoration: none;
}

.color-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.color-picker {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: black;
}

.color-picker:last-child {
  margin-right: 0;
}

.color-picker.red {
  background-color: #d52323;
}

.color-picker.black {
  background-color: #1b1b1b;
}

.color-picker.blue {
  background-color: #264fe0;
}

.color-picker.green {
  background-color: #53c020;
}

.color-picker.brown {
  background-color: #8f1818;
}

.color-picker.yellow {
  background-color: #eadc15;
}

.product-details-title {
  margin-bottom: 10px;
}

.product-details-list {
  list-style: square;
}

.btn-cart {
  padding: 1em 0;
  border-style: none;
  /* border-top: 5px solid white; */
  width: 100%;
  /* margin-top: 10px; */
  background-color: black;
  color: white;
  font-size: 1.3rem;
}

.btn-cart:hover {
  border-top: 5px solid white;
  filter: invert(100);
  cursor: pointer;
}

/* p {
  margin-bottom: 10px;
} */

ul,
ol {
  margin-left: 1.2rem;
}

li {
  margin-bottom: 0.5em;
}

li:last-child {
  margin-bottom: 0;
}

/* CSS Layouts (Floats) */

/* .product-img {
  display: block;
  float: left;
  width: 30%;
  height: auto;
  margin-right: 5%;
}

.product-left {
  float: left;
  width: 30%;
  margin-right: 5%;
}

.product-price-container {
  clear: both;
}

.product-price {
  float: left;
}

.shipping {
  float: right;
}

.product-description {
  clear: both;
}

.product-right {
  float: right;
  width: 30%;
}

.product-right,
.product-left {
  padding: 15px;
} */

/* .product-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  flex: 1;
}

.product-left {
  padding: 10px;
  flex: 1;
}

.product-right {
  padding: 10px;
  flex: 1;
} */

.product-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* CSS GRID */

.product-container {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}

.product-title {
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
}
